DATABASE_URL="postgresql://<user>:<password>@<endpoint>.neon.tech/<dbname>?sslmode=require"
JWT_ACCESS_SECRET="your_access_token_secret_here"
JWT_REFRESH_SECRET="your_refresh_token_secret_here"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="30d"
COOKIE_DOMAIN="localhost"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
PORT=5000
